
.SquareAndCyrcle{
  display: grid;
  grid-gap: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  #square {
    width: 100px;
    height: 100px;
  }
  #circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
}