.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    font-size: 26px;
    opacity: 0.85;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    .input{
        display: flex;
        >input{
            width: 3em;
        }
    }
}

.hidden-menu-ticker {
    display: none;
}
.form-check{
    float: left;
}
.all{
    margin-left: -0.7em;
}
.btn-menu {
    color: #fff;
    background-color: gray;
    padding: 7px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 2em;
    background-color: #666666;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 8px;

}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -8px;
}